.menubar{
    height: 100px;
    width: 100%;
    float: left;
    background-color: white;
    margin-top: -10px;
}
.logo{
  margin-top:20px;
  margin-left:100px;
}
.menuoption{
    width: 100%;
    height: 55px;
    float: left;
    margin-top:50px; 
    background-color:yellow; 
}
.menuoption li{
    padding: 15px 20px 20px 10px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.menuoption a{
    text-decoration: none;
    color: black;
}
.homepage{
    margin-left:350px;
}
.pages .subpage1 li{
    display:block;
    /* margin-left: -100px; */
   padding: 10px 40px 3px 10px ;
    width: 100px;
    
}
 .subpage1 {
    position: absolute;
    top:50px;
    color: black;
    margin-left: -70;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 20px;
    display: none;

}
.pages:hover .subpage1{
    display: block;
    width: 130px;    
}
 






/*Media Query*/
@media(max-width:667px){
    .homepage{
    margin-left:5px;
}
    .menuoption{
    width: 100%;
    height: 55px;
    float: left;
    margin-top:100px; 
    background-color:yellow; 
}
.menuoption li{
     padding: 15px 10px 10px 0px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.menuoption a{
    text-decoration: none;
    color: black;
}
}

.all{
    height:50px;
    width:80px;
    float:left;
    border:1px solid black;
    margin-top:10px;
    margin-left:30%;
}
.all h1{
    text-align: center;
    margin-top:10px;
    font-size:20px;
    color: black;
}

.big{
     height:50px;
    width:80px;
    float:left;
    border:1px solid black;
    margin-top:10px;
    margin-left:10px;
}
.big h1{
    text-align: center;
    margin-top:10px;
    font-size:20px;
    color: black;
}
.buildings{
     height:50px;
    width:130px;
    float:left;
    border:1px solid black;
    margin-top:10px;
    margin-left:10px;
}
.buildings h1{
    text-align: center;
    margin-top:10px;
    font-size:20px;
    color: black;
}
.gradens{
     height:50px;
    width:130px;
    float:left;
    border:1px solid black;
    margin-top:10px;
    margin-left:10px;
}
.gradens h1{
    text-align: center;
    margin-top:10px;
    font-size:20px;
    color:black;
}
.houses{
     height:50px;
    width:140px;
    float:left;
    border:1px solid black;
    margin-top:10px;
    margin-left:10px;
}
.houses h1{
    text-align: center;
    margin-top:10px;
    font-size:20px;
    color:black;
}


@media(max-width:667px){
    .menuoption2{
    width: 100%;
    height: 80px;
    float: left;
    margin-top:50px; 
    background-color:blue; 
}
  
}
 @media(max-width:667px){
   .bar3{
   padding: 10px;
   float: left;
   font-size: 30px;
   cursor: pointer;
   margin-left:70%;
}
.phonemenu .phonemenuoption li{
    display:block;
    /* margin-left: -100px; */
   padding: 5px 10px 3px 5px ;
    width: 140px;
    
}
 .phonemenuoption {
    position: absolute;
    top:150px;
    color: white;
    background-color: black;
    border-radius:10px;
    font-size: 20px;
    display: none;

}
.phonemenu:hover .phonemenuoption {
    display: block;
}
.menuoption {
    display: none;
  }
}
.phonemenu .phonemenuoption{
    display: none;
}
